*,
root,
html {
  padding: 5px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 #8257e6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #333;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #8257e6;
}


body {
  background: #333;
}

.btn_support {
  float: right;
  width: 153px;
  height: 56px;

  background: #8257e6;
  border-radius: 68px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}

.btn_support:hover {
  opacity: 0.9;
}

.chat {
  display: none;
  font-family: "Roboto", sans-serif;
}

#supports {
  padding: 0;
}

.in_support_header {
  float: right;
  width: 100%;
  height: 56px;
  padding: 15px 10px;
  
  background: #8257e6;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 5px solid #573c94;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chat_support {
  position: absolute;
  max-width: 330px;
  right: 10px;
  animation: up 1s;
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

.client {
  display: flex;
  flex-direction: column;
}

.client .name {
  text-align: end;
}

.client_message {
  background: #f2ecfa;
  padding: 20px 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 20px;
}

.client .message {
  background: #8257e6;
  /* background: #cecad4; */
  padding: 10px;
  margin: 5px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 12px;
  line-height: 20px;
}

.text_support {
  border: 1px solid #555;
  max-height: 500px;
  overflow-y: scroll;
  /* border-bottom: 0px; */
}

#supports {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#admin {
  display: flex;
  flex-direction: column;
  background: #555;
  border-radius: 16px;
  width: 500px;
  min-height: 300px;
  padding: 0;
  margin-left: 10px;
  margin-top: 10px;
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin .message {
  width: 230px;
  background: #6e4ac4;
  border-radius: 12px;
  padding: 10px;
  margin-left: 12px;
}
.admin_list_messages {
  height: 300px;
  overflow-y: scroll;
}

.admin_list_messages::-webkit-scrollbar-track {
  background: #555;
}

.admin_message_client {
  width: 400px;
  background: #6f5eab;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  color: #eee;

  display: flex;
  float: left;
  flex-direction: column;

  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.admin_date {
  font-size: 10px;
  color: #fff;
}

.admin_message_admin {
  width: 400px;
  background: #974ec9;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  color: #eee;

  display: flex;
  float: right;
  flex-direction: column;

  border-radius: 10px;

  font-family: "Roboto", sans-serif;
}

.admin_send_message {
  display: flex;
  padding: 0;
}

.admin_send_message input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 0 0 0 16px;
  outline: none;
}

.message_send {
  display: flex;
  border: 1px solid #555;
  align-items: center;
  border-radius: 0 0 8px 8px;
  padding: 0;
  align-content: center;
}

.message_send input {
  outline: none;
  border: none;
  background: #666;
  color: #fff;
  height: 36px;
  align-items: center;
  width: 100%;
  margin: 0;
  border-radius: 0 0 0 8px;
}
.message_send input::placeholder {
  color: #fff;
}

.message_send .send_message_button {
  background: #666;
  border-radius: 0 0 8px 0;
  padding: 0;
}

.btn_send {
  cursor: pointer;
  color: #fff;
  background: #8257e6;

  margin: 0;
  padding: 10px 15px;

  border: none;
  border-radius: 0 0 16px 0;
  border-left: 1px solid #fff;
  
  outline: none;
}

.btn_send:hover {
  opacity: 0.8;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}

span {
  color: #fff;
  margin-bottom: 3px;
}

.text_help {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text_help textarea {
  width: 290px;
  height: 115px;

  padding: 10px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

.first_email {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.first_email input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 290px;
}

#list_users {
  display: flex;
}

.user-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
}

.user-list .email {
  color: #fff;
}

.user-list .btn_atd {
  cursor: pointer;
  background: #8257e6;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  max-width: 250px;
}

.user-list .btn_atd:hover {
  background: #6642b9;
  outline: #fff;
}

input[type="text"]:focus {
  outline: 1px solid #a8a8a8;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #8257e6;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.btn_cancel {
  width: 81px;
  height: 40px;

  background: #e74747;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#txt_help:focus {
  outline: 1px solid #a8a8a8;
}

.charac_remaining {
  font-size: 10px;
  align-self: flex-end;
}

.date {
  text-align: right;
  font-size: 1px;
}
